.home-page {
    @include full-bg("img/bg-1.jpg", white, 100vh)
}

.main-header {
    color: white;
    font-size: 3rem;
}

.section-header {
    padding-top: 15px;
}

.text-align {
    text-align: center;
    padding: 45vh;
}

.jumbotron {
    padding-bottom: 20px;
}

div#dashboard {
    margin-top: 20px;
}

h4 {
    margin: 15px 0;
}

h6 {
    margin: 15px 0;
}

/*---------------------------------------- Charts ---*/

#year-of-discovery .x.axis text,
#cumulative-year-of-discovery .x.axis text,
#linear-chart-year .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.dc-chart g.row text,
.dc-chart .pie-slice {
    fill: black;
}

svg {
    @extend %MarginBottom;
}

text.barLabel {
    font-size: 0.5em;
}

.dc-legend {
    font-size: 0.5em;
}

/*---------------------------------------- Footer ---*/

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 15px;

    a {
        color: white;
    }
    a:hover {
        color: orange;
        text-decoration: none;
    }
}
