.home-page {
    @include full-bg("img/bg-1.jpg", white, 100vh)
}

.main-header {
    color: white;
    font-size: 3rem;
}

.section-header {
    padding-top: 15px;
}

.text-align {
    text-align: center;
    padding: 45vh;
}

.jumbotron {
    padding-bottom: 20px;
}

div#dashboard {
    margin-top: 20px;
}

/*---------------------------------------- Charts ---*/

#year-of-discovery .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#linear-char-year .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.dc-chart g.row {
    fill: #343a40;
    font-size: 12px;
    cursor: pointer;
}

svg {
    @extend %MarginBottom;
}

text.barLabel {
    font-size: 10px;
}

/*---------------------------------------- Footer ---*/

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 15px;

    a {
        color: white;
    }
    a:hover {
        color: orange;
        text-decoration: none;
    }
}
